<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top shadow-sm">
  <div class="container">
    <a class="navbar-brand fw-bold d-flex align-items-center" href="#home">
    <%= image_tag 'dada-logo.png', alt: 'Logo', class: 'me-2', style: 'height:6rem; width:auto; border-radius:0.5rem;' %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="<%= root_path %>">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#stories">Stories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#resources">Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= simple_discussion_path %>">Community</a>
        </li>
        <!-- Temporarily disabled while fixing Devise -->
        <%# if user_signed_in? %>
          <!-- <li class="nav-item"> -->
            <!-- <a class="nav-link" href="/dashboard">Dashboard</a> -->
          <!-- </li> -->
          <!-- <li class="nav-item"> -->
            <!-- <a class="nav-link" href="/users/sign_out" data-method="delete">Sign Out</a> -->
          <!-- </li> -->
        <%# else %>
          <li class="nav-item">
            <a href="#" class="nav-link">Sign In</a>
          </li>
          <li class="nav-item">
            <a href="#" class="btn btn-primary ms-lg-3" style="background:#e76f51; border:none;">Join Community</a>
          </li>
        <%# end %>
      </ul>
    </div>
  </div>
</nav>

